.flex {
  display: flex;
}

.just-cont-sp-ad {
  justify-content: space-around !important;
}

.just-cont-sp-bw {
  justify-content: space-between;
}

.lower-case {
  text-transform: lowercase;
}

.text-transform-none {
  text-transform: none;
}

.text-ali-cen {
  text-align: center;
}
