$light-cian: #33cccc;
$cian: #009999;
$cian-opacity: rgba(0, 153, 153, 0.8);
$dark-cian: #007b7b;
$cian-hover: #008585;
$cian-active: #006a6a;
$white: #ffffff;
$gray: #cccccc;
$light-gray: #f4f4f4;
$light-gray2: #d9d9d9;
$dark-gray: #666666;
$bg-light-gray: #f7f7f7;
$box-shadow-gray: rgba(0, 0, 0, 0.15);
$border-light-gray: #f0f0f0;
$background-light-gray: #efefef;
$black: #333333;
$black2: #1f1f1f;
$orange: #f68b1f;
$orange2: #ff7400;
$orange-hover: #f07900;
$orange-active: #eb6400;
$yellow: #ffaa00;
$success: $cian;
$denied: #ff0000;
$red-button-text-color: #ff0000;

$btn-bg-orange: #ff7400;

$cian-shadow: rgba(92, 204, 204, 0.4);
$orange-shadow: rgba(255, 102, 0, 0.4);
$disabled-shadow: rgba(153, 153, 153, 0.4);

$text-gray: #999999;
$border-gray: #999999;

$status-wait: #de8a2e;
