@import './colors';

@mixin reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-list {
  @include reset-list();
}

@mixin radius-left($val) {
  border-bottom-left-radius: $val;
  border-top-left-radius: $val;
}

@mixin radius-right($val) {
  border-bottom-right-radius: $val;
  border-top-right-radius: $val;
}

@mixin bonus-item() {
  color: $cian;
  background-color: $white;
  border: 2px solid;
  border-radius: 18px;
  box-shadow: 0 6px 20px $cian-shadow;
  &.-active,
  &:hover:not(.bonus-info) {
    color: $yellow;
    box-shadow: 0 6px 20px $orange-shadow;
    > a {
      color: $yellow;
    }
  }
  &.-disabled {
    color: $gray;
    pointer-events: none;
    cursor: not-allowed;
    box-shadow: 0 6px 20px $disabled-shadow;
    > a {
      color: $text-gray;
    }
  }
  &:not(:first-child) {
    margin-left: 0.3em;
  }
  > a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 29px;
    padding-left: 20px;
    padding-right: 20px;
    width: 167px;
    height: 106px;
    color: $cian;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 37px;
    background-position: top 8px right 8px;
    border-radius: 18px;
    > .title {
      font-family: 'PF Din Display Pro Med';
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      text-transform: uppercase;
    }
  }
}

@mixin bonus-item-image($icon-name) {
  > a {
  }
  &.-disabled > a {
  }
  &.-active > a {
  }
}

@mixin title-main {
  margin-top: 29px;
  min-height: 27px;
  color: $black;
  font-family: Roboto;
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

@mixin title {
  color: $black;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin title2 {
  text-align: center;
  color: $black;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
}

.title2 {
  @include title2();
}

@mixin title-underline {
  color: $black;
  font-family: Roboto;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  text-decoration: underline;
  text-transform: uppercase;
}

@mixin -small {
  &.-small {
    width: auto;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    border-radius: 18px;
  }
}

@mixin -xsmall {
  &.-xsmall {
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    height: 31px;
    line-height: 31px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 16px;
  }
}
