.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.hidden {
  display: none;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* This is necessary for side-nav-bars that launched in Safari */
.mat-drawer-container {
  overflow: visible;
}

@media (min-width: 600px) {
  .sidenav {
    display: none;
  }

  .spacer {
    flex: 1 1 auto;
  }

  mat-toolbar a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }

  mat-toolbar span {
    color: white;
  }

}
