/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.custom-dialog-container .mat-dialog-container {
  overflow: hidden;
}
